// Here goes your CSS
@import 'layout/main';

.popup {
  background-color: #FFFFFF;
  width: 240px;
  height: 290px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.exit {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  transform: scale(0.8);
}

.log-in {
  position: absolute;
  top: 50px;
  font-size: 25px;
  text-align: center;
  font-family: 'Lobster', cursive, sans-serif;
  font-weight: bolder;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date {
  position: absolute;
  top: 30%;
  left: 11%;
  width: 180px;
}

input {
  width: 150px;
  height: 32px;
  border: 1px solid #000000;
  margin: 5px;
  padding-left: 18px;
  font-size: 10px;
  color: #808080;

  &:focus {
    outline-color: black;
  }
}

.accept-bottom {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #FFFFFF !important;
}

.submit {
  margin-top: 20px;
  width: 172px;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  cursor: pointer;

  &:hover {
    background-color: #fc888e;
    border-color: #fc888e;
  }
}

.text-accept {
  top: -4px;
  position: relative;
  font-size: 12px;
  display: inline;
}

.btn-main-end {
  appearance: none;
  background: transparent;
  border: 0;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  display: none;
}




